fastapi
uvicorn[standard]
openai
langchain-chroma
langchain-community
dashscope
python-dotenv
pypdf
pydantic
tenacity
pymysql
aiocache
prometheus-client==0.20.0
python-docx==1.1.2
langgraph>=0.2.0
python-multipart>=0.0.6
python-docx>=0.8.11
openpyxl>=3.0.0
rank_bm25
httpx
requests